---
export const prerender = true;

import { ToastContainer } from "react-toastify";
import { BasicAccordion } from "~/components/Accordion";
import { Form } from "~/components/Form";
import { Hero } from "~/components/Hero";
import { ResponsiveHeadline } from "~/components/ResponsiveHeadline";
import { RichText } from "~/components/RichText";
import Layout from "~/layouts/Layout.astro";
import { contentfulClient } from "~/services/contentful/contentful";
import { section } from "~/styles/utilities/common.css";
import type { TypePageSectionSkeleton } from "~/types/contentful";
import type { TypeList, TypeListSkeleton } from "~/types/contentful/TypeList";

const entries = await contentfulClient.getEntries<TypePageSectionSkeleton>({
  content_type: "pageSection",
  "fields.title": "Home Section",
});

const faqs = await contentfulClient.getEntries<TypeListSkeleton>({
  content_type: "list",
  "fields.title": "FAQs",
});
---

<Layout>
  <ToastContainer position="top-center" client:load />
  <Hero />
  <section id="intro" class={`${section}`}>
    {
      entries.items.map((item) => (
        <div>
          {item.fields.content && (
            <RichText richText={item.fields.content} client:load />
          )}
        </div>
      ))
    }
  </section>
  <section id="faqs" class={`${section}`}>
    <ResponsiveHeadline size={2} as="h2">
      Frequently Asked Questions
    </ResponsiveHeadline>
    <BasicAccordion
      list={faqs.items[0] as TypeList<"WITHOUT_UNRESOLVABLE_LINKS">}
      client:load
    />
  </section>
  <section id="contact" class={`${section}`}>
    <ResponsiveHeadline size={2} as="h2"> Contact Us </ResponsiveHeadline>
    <Form client:load />
  </section>
</Layout>
