---
export const prerender = true;

import { Gallery as GalleryComponent } from "~/components/Gallery";
import { ResponsiveHeadline } from "~/components/ResponsiveHeadline";
import Layout from "~/layouts/Layout.astro";
import type { TypeGallerySkeleton } from "~/types/contentful/TypeGallery";
import { contentfulClient } from "../services/contentful/contentful";
import * as styles from "../styles/utilities/common.css";

const gallery = await contentfulClient.getEntries<TypeGallerySkeleton>({
	content_type: "gallery",
	"fields.name": "Gallery",
});
---

<Layout 
    title="Showcase | Chaos Softball San Diego"
    description="Discover the Chaos Softball San Diego Showcase — action-packed highlights, competitive games, and unforgettable moments celebrating teamwork, energy, and passion for the sport."
>
    <div class={styles.subPageWrapper}>
        <ResponsiveHeadline size={1} as="h1">
            Showcase
        </ResponsiveHeadline>
        <GalleryComponent galleryId={gallery.items[0]?.sys.id} client:load />
    </div>

</Layout>
