---
import { BaseHead } from "./BaseHead";
import { Header } from "./Header";

const { title, description, lang = "en-US" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <BaseHead title={title} description={description} />
  <body>
    <Header />
    <main id="main-content">
      <slot />
    </main>
  </body>
</html>
