---
const currentDate = new Date();
const year = currentDate.getFullYear();

import * as styles from "./Footer.css";
---

<footer class={styles.footerWrapper}>
    <p class={styles.footerCopyright}>
        &copy;{year} Chaos Softball SD. All rights reserved.
    </p>
</footer>
